* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.course-nav-container {
    height: 5rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: rgb(229, 249, 255);
    background-color: transparent;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-logo-head {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(21, 0, 128);
    margin-top: auto;
}

.nav-links-in {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-right: 10px;
}

.nav-links-in a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.nav-links-in a:hover {
    color: red;
}

.nav-button-in {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(39, 20, 239, 0.996);
    color: white;
    transition: transform 0.2s ease;
    font-weight: 600;
}

.nav-button-in:hover {
    background-color: red;
}

