.c1t1-intro p {
    font-size: 1.5vw;
}

.c1t1-content-one {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.c1t1-code-container {
   position: relative;
}

.c1t1-code-container button {
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: rgb(40, 42, 54);
    color: white;
    padding: 10px;
    border: none;
    font-size: 20px;
}

