* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CourseHomeComponent {
    width: 100%;
}

.CourseHome-Body {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
}

.CourseHome-Body-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    height: 40rem;
    width: 100%;
    background-color: rgb(246, 246, 246); /* Fallback color */
    background-image: linear-gradient(rgba(135, 206, 235, 0.2) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(135, 206, 235, 0.2) 1px, transparent 1px);
    background-size: 1cm 1cm;
}


.CourseHome-Body-Content h1 {
    font-size: 1.5rem;
}

.CourseHome-Body-Content-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.CourseHome-Body-Content-one > h1 {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(21, 0, 128);
}

.CourseHome-Body-Content-one > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(21, 0, 128);
}

.CourseHome-Body-Content-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: fit-content;
    width: 100%;
}


.courseHome-element-one-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 20px;
    width: 20%;
}

.courseHome-element-two-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 20px;
    width: 20%;

}

.courseHome-element-three-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 20px;
    width: 20%;
}

.courseHome-element-four-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 20px;
    width: 20%;
}

.courseHome-element-one-content-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    border-bottom: .1px solid gray;
    padding: 10px 0;
}

.courseHome-element-two-content-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    border-bottom: .1px solid gray;
    padding: 10px 0;
}

.courseHome-element-three-content-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    border-bottom: .1px solid gray;
    padding: 10px 0;
}

.courseHome-element-four-content-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    border-bottom: .1px solid gray;
    padding: 10px 0;
}

.number-css {
    font-size: 65px;
    font-weight: 800;
    line-height: 68px;
    font-family: Barlow, sans-serif;
    color: #fff;
    text-shadow:
        -1px -1px 0 gray,
        1px -1px 0 gray,
        -1px 1px 0 gray,
        1px 1px 0 gray;
  }
  





.course-home-courses {
    height: 30rem;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.course-home-courses-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(21, 0, 128);
}

.course-home-courses-one > p {
    color: gray;
}

.common-course-css {
    border: .1px solid rgb(209, 203, 203);
    height: 4vw;
    width: 15vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(21, 0, 128);
    gap: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: transition .1s;
}

.common-course-css:hover {
    transform: scale(1.1);
}

.course-home-courses-two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-items: center;
    align-content: center;
    gap: 40px;
}



.course-footer-container{
    margin-top: -30%;
}


    /* spans start here */

.c-logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    background-color: rgb(21, 0, 128);
    border-radius: 50%;
    padding: 0 6px;
}