* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CourseHomeComponent {
    width: 100%;
    height: fit-content;
    background-color: rgb(253, 248, 250);
}

.courseHome-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.courseHome-head-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    align-items: center;
    width: 80%;
    height: 50vw;
    font-size: 2vw;
}

.courseHome-head-one h1 {
    background: linear-gradient(to right, black, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.courseHome-head-one p {
    color: rgba(250, 14, 14, 0.996);
    font-weight: 400;
}

.courseHome-head-one-button {
    padding-top: 10%;
}



.courseHome-head-one-button button {
    padding: 10px;
    border: 2px solid rgba(27, 43, 218, 0.996);
    border-radius: 10px;
    background-color: rgba(39, 20, 239, 0.996);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.courseHome-head-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10vw;
    width: 50%;
    height: 40vw;
    background-image: url(../../assets/zero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.courseHome-boxes-one {
    width: 100%;
    height: 5vw;
    border: .1px solid gray;
    background-color: white;
    margin-bottom: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;

}

.courseHome-boxes-two {
    width: 100%;
    height: 5vw;
    border: .1px solid gray;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6vw;
}



.course-home-courses {
    height: 30rem;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.course-home-courses-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(21, 0, 128);
}

.course-home-courses-one > p {
    color: gray;
}

.common-course-css {
    border: .1px solid rgb(209, 203, 203);
    height: 4vw;
    width: 15vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(21, 0, 128);
    gap: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: transition .1s;
}

.common-course-css:hover {
    transform: scale(1.1);
}

.course-home-courses-two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-items: center;
    align-content: center;
    gap: 40px;
}



.course-footer-container{
    margin-top: -30%;
}


    /* spans start here */

.c-logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    background-color: rgb(21, 0, 128);
    border-radius: 50%;
    padding: 0 6px;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vw;
    margin: 0 auto;
    gap: 100px;
}

.about-container-in {
    text-align: center;
    font-size: 1rem;
}

.CourseHome-Body-Content-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: fit-content;
    width: 100%;
}


.courseHome-element-one-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 20px;
    width: 20%;
    font-size: .7vw;
}

.courseHome-element-two-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 20px;
    width: 20%;
    font-size: .7vw;
}

.courseHome-element-three-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 20px;
    width: 20%;
    font-size: .7vw;
}

.courseHome-element-four-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 20px;
    width: 20%; 
    font-size: .7vw;
}

.courseHome-element-one-content-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    border-bottom: .1px solid gray;
    padding: 10px 0;
}

.courseHome-element-two-content-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    border-bottom: .1px solid gray;
    padding: 10px 0;
}

.courseHome-element-three-content-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    border-bottom: .1px solid gray;
    padding: 10px 0;
}

.courseHome-element-four-content-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90%;
    border-bottom: .1px solid gray;
    padding: 10px 0;
}

.number-css {
    font-size: 6vw;
    font-weight: 800;
    line-height: 68px;
    font-family: Barlow, sans-serif;
    color: #fff;
    text-shadow:
        -1px -1px 0 gray,
        1px -1px 0 gray,
        -1px 1px 0 gray,
        1px 1px 0 gray;
  }
  


