* {
    padding: 0;
    margin: 0;
}







.three {
    padding: 40px 0px;
}
.three-head-in {
    width: 80%;
    margin: auto;
}
.three-child-in {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 70px 0px 40px 0px;
}
.tci-sub {
    width: 22%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 0px 25px 0px;
    border-radius: 4px;
    border: 2px solid rgb(173, 171, 171);
    height: fit-content;
}

.tci-sub-one {
    margin-top: 0px;
}
.tci-sub-two {
    margin-top: 60px;
}
.tci-sub-three {
    margin-top: 0px;
}
.tci-sub-four {
    margin-top: 60px;
}
.tci-sub-icon-in {
    width: 60%;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tci-sub-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tci-sub-desc h1 {
    position: relative;
    font-size: 1.5vw;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
  
  .tci-sub-desc h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%; /* Adjust this value as needed */
    width: 40%;
    height: 4px;
    background-color:rgba(231, 64, 64, 1);
  }


.tci-sub-desc p {
    color: black;
    width: 70%;
    font-size: 1.4vw;
}










.Five {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(38, 51, 93);
    height: 80vh;
}

.Five-one {
    border: 2px solid salmon;
    height: 50vh;
    width: 40%;
}

.Five-two {
    height: 50vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Five-two-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
    width: 70%;
}

.Five-two-line {
    background-color: salmon;
    width: 25%;
    height: .5vh;
}

.Five-two-matter span {
    font-size: 60px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.Five-two-link-child {
    color: salmon;
    text-decoration: none;
    display: flex;
}

.Five-two-link-child::after {
    content: ">";
    color: salmon;
    font-size: 30px;
    margin-top: -5px;
    margin-left: 5px;
}


.seven {
    padding: 40px 0px;
}
.seven-head-in {
    width: 80%;
    margin: auto;
}
.seven-head-in p {
    color: red;
    padding: unset;
    font-weight: 600;
    font-size: 1.5vw;
}
.seven-head-in h1 {
    margin: 10px 0px 10px 0px;
    font-size: 2.4vw;
}
.seven-head-in span {
    display: block;
    margin: 3px 0px;
    font-weight: 500;
    color: rgb(94, 92, 92);
}


.seven-child-in {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0px 60px 0px;

}

.sci {
    border: 2px solid white;
    width: 22%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sci-img {
    width: 100%;
}
.sci-img img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;   
}
.sci-des-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.sci-des-in p:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.sci-des-icons {
    padding: 10px 0px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}