
.FooterComponent {

}










.Footer-one {
    background-color: #26335D;
    padding: 30px 0px 30px 0px;
}
.Footer-one-in {
    display: flex;
}
.Footer-one-one {
    width: 60%;

}
.Footer-one-one-in {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Footer-ooi-sub {
    /* border: 1px solid white; */
}

.Footer-ooi-sub-in {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.Fooi-sub-head {
    font-weight: 700;
    font-size: 1.2vw;
    color: white;
} 
.Footer-ooi-sub-in span {
    color: white;
    font-size: 1vw;
    margin: 5px 0px;
    font-weight: 500;
}
.Footer-one-two-in {
    display: flex;
    flex-direction: column;
}

.Fot-head span {
    color: white;
    font-weight: 700;
}

.Fot-child {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.Fot-child span {
    color: white;
    font-size: 1vw;
    margin: 5px 0px;
    font-weight: 500;
}




.Footer-one-two {
    width: 40%;
}




.Footer-two {
    padding: 15px 0px;
}
.Footer-two-in {
    display: flex;
}
.Footer-two-one {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer-two-one span {
    font-size: 1.1vw;
    font-weight: 600;
}
.Footer-two-two {
    width: 40%;
}
.Footer-two-two-in {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

