* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.course-nav-container {
    height: 5rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid pink;
}
